<div class="product_rating">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 78 14" height="14" width="78" class="rating-stars">
    <path fill="#1B365D" d="M2.3836 13.1335L4.0726 8.1137L0 4.3825H4.9882L6.7771 0L8.5873 4.3825H13.5439L9.4713 8.1137L11.1919 13.1335L6.7719 9.9290L2.3836 13.1335Z"></path>
    <path fill="#1B365D" d="M18.3836 13.1335L20.0727 8.1137L16 5.3825H20.9882L22.7771 0.5439L9.4713 8.1137L27.1919 13.1335L22.772 9.9290L18.3836 13.1335Z"></path>
    <path fill="#1B365D" d="M34.3836 13.1335L36.0727 8.1137L32 5.3825H36.9882L38.7771 0.5439L25.4713 8.1137L43.1919 13.1335L38.772 9.9290L34.3836 13.1335Z"></path>
    <path fill="#1B365D" d="M50.3836 13.1335L52.0727 8.1137L48 5.3825H52.9882L54.7771 0.5439L41.4713 8.1137L59.1919 13.1335L54.772 9.9290L50.3836 13.1335Z"></path>
    <path fill="#1B365D" d="M66.3836 13.1335L68.0727 8.1137L64 5.3825H68.9882L70.772 0.5873 5.3285H77.5439L9.4713 8.1137L75.1919 13.1335L70.772 9.9290L66.3836 13.1335Z"></path>
  </svg>
  <span>{{ block.settings.product_rating }}</span>
</div>

{% style %}
  .product-block--{{ block.type }}  span { 
    font-size: clamp(12px, 3vw, 16px); 
  }
  .product_rating{
    text-align: left;

  }
{% endstyle %}